{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ section.title }}
{% endblock %}

{% block content4 %}
<style>
    /* Static CSS for about page */

body {
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    
}

h1 {
    color: #fffefe;
    text-align: center;
 
}

form {
    text-align: center;

}

input[type="text"] {
    width: 200px;
    padding: 10px;
    margin: 5px;
}





button:hover {
    background-color: #218838;
}

</style>
    <h1>this is a about page</h1>
    <form action="vali/" method="post">
        {% csrf_token %}
        Name: <input type="text" name="name">
        <input type="submit" value="submit" class="btn" style="  padding: 10px 20px;
        background-color: #28a745; color: #fff;border: none; cursor: pointer;text-decoration: none;display: inline-block; margin-top: 20px;">
    </form>
    <!-- <a href="/dsa/"><button >Home Page</button></a> -->

{% endblock %}