{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ section.title }}
{% endblock %}
{% block content2 %}
  
  <link rel="stylesheet" href="{% static 'dsa-static/css/user_code.css' %}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>
  <div class="main">
    <div class="container">
      <div class="users">
        
        <h1 class="text_name">{{ user_name }}</h1>

        {% for code in context %}
          {% comment %} <h1>{{ code.user_code.First }}</h1> {% endcomment %}
          {% comment %} <h1>{{ code.id }}</h1> {% endcomment %}
          <h1>{{ code.day }}</h1>
          {% spaceless %}
          <pre class="language-python">
            <code>{{ code.code }}</code>
          </pre>
          {% endspaceless %}
          
          {% comment %} <h1>{{ code.code }}</h1> {% endcomment %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
