{% extends 'base.html' %}

{% block title %}
{{ section.title }}
{% endblock %}
{% block content2 %}
{% load static  %}
<link rel="stylesheet" href="{% static 'dsa-static/css/user_pro.css   ' %}">
<div class="main">
  <div class="container">
    <div class="users">

      <h1>{{ context.id }}</h1>
      <h1>{{ context.First }}</h1>
      <h1>{{ context.last }}</h1>
      <h1>{{ context.email }}</h1>
      <h1>{{ context.phone_no }}</h1>
      <a href="{% url 'code' context.id %}">Code</a>
    </div>
  </div>
  {% if login %}

  <div class="add-code">
    <div class="form-code">
      <form action="coderegister/" method="post">
        {% csrf_token %}
        <label for="day">Enter Day</label><input type="text" id="day" name="day">

        <label for="code">Add code</label><textarea name="code" id="code" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  {% endif %}

</div>

{% comment %} <a href="/dsa/about"><button>About Page</button></a> {% endcomment %}
{% endblock %}