{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    
button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
</style>
<body>
    <h1>this is a vali page</h1>
    <a href="/dsa/"><button>Home Page</button></a>
    {{name}}, welcome to this website
</body>
</html>