.precla {
    background-color: #292727;
    padding: 10px;
    border: 1px solid #1f1e1e;
    border-radius: 5px;
    overflow-x: auto;
  }
  .codecla {
    font-family: 'Courier New', Courier, monospace;
    
    
  }

.text{
    text-transform: capitalize;
}
